html, body {
    height: 100%;
    width: 100%;
}

.iphone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    margin: auto;
    height: 70%;
    z-index: 2;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    margin: auto;
    height: 53%;
    z-index: 1;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    margin: auto;
    width: 310px;
    height: 130px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 25px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    margin-top: 7px;
}

.first_section {
    height: 100%;
    width: 100%;
    background: #F1A9A0;
}

.second_section {
    height: 100%;
    width: 100%;
    background: #E08283;
}

.third_section {
    height: 100%;
    width: 100%;
    background: #E26A6A;
}


.onepage-pagination li a {
    padding: 10.5px !important;
}

.onepage-pagination li a:before {
    background: rgba(255, 255, 255, 0.85) !important;
}

.onepage-pagination li a.active:before {
    border: 1px solid white !important;
}
