@font-face {
    font-family: Bariol;
    src: url(../fonts/Bariol-Regular.ttf);
}

@font-face {
    font-family: Bariol-Bold;
    src: url(../fonts/Bariol-Bold.ttf);
}


html, body {
    height: 100%;
    width: 100%;
}

.iphone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    margin: auto;
    height: 70%;
    z-index: 2;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    margin: auto;
    height: 53%;
    z-index: 1;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    margin: auto;
    width: 300px;
    height: 140px;
}

h1 {
    font-family: 'Bariol';
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
}

p {
    font-family: 'Bariol';
    color: white;
    font-size: 17px;
    text-align: right;
    margin-top: 7px;
}

p.number {
    font-size: 70px;
    margin-top: 0px;
}

.first_section {
    height: 100%;
    width: 100%;
    background: #881B64;
}

#first {
    width: 75%;
    position: absolute;
    right: 0;
    bottom: -134px;
}

.second_section {
    height: 100%;
    width: 100%;
    background: #F7E19B;
}

#second {

}

.third_section {
    height: 100%;
    width: 100%;
    background: #E26A6A;
}


.onepage-pagination li a {
    padding: 10.5px !important;
}

.onepage-pagination li a:before {
    background: rgba(255, 255, 255, 0.85) !important;
}

.onepage-pagination li a.active:before {
    border: 1px solid white !important;
}


#Page-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1001;
    animation: dash 30s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
