@font-face {
    font-family: Bariol;
    src: url(../fonts/Bariol-Regular.ttf);
}

@font-face {
    font-family: Bariol-Bold;
    src: url(../fonts/Bariol-Bold.ttf);
}


html, body {
    height: 100%;
    width: 100%;
}

.iphone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    margin: auto;
    height: 70%;
    z-index: 2;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    margin: auto;
    height: 53%;
    z-index: 1;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    margin: auto;
    width: 300px;
    height: 140px;
}

h1 {
    font-family: 'Bariol';
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
}

p {
    font-family: 'Bariol';
    color: white;
    font-size: 17px;
    text-align: right;
    margin-top: 7px;
}

p.number {
    font-size: 70px;
    margin-top: 0px;
}

.first_section {
    height: 100%;
    width: 100%;
    background: #881B64;
}

#first {
    width: 75%;
    position: absolute;
    right: 0;
    bottom: -134px;
}

#Page-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1001;
    animation: dash 30s linear forwards;
    animation-play-state: running;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.second_section {
    height: 100%;
    width: 100%;
    background: #F7E19B;
}

#bouteille-1 {
    position: absolute;
    left: 30%;
    top: 60%;
}

#bouteille-2 {
    position: absolute;
    left: 30%;
    top: 5%;
}

#bouteille-3 {
    position: absolute;
    left: 15%;
    top: 50%;
}

#bouteille-4 {
    position: absolute;
    left: 50%;
    top: 0%;
}

#bouteille-5 {
    position: absolute;
    left: 70%;
    top: 55%;
}

.third_section {
    height: 100%;
    width: 100%;
    background: #E7235B;
}

#city {
    bottom: -5%;
    position: absolute;
    width: 100%;
}

#clouds {
    top: 4%;
    height: 23%;
    position: absolute;
    transform: translate3d(-19%,0,0);
    animation-name: cloudy;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

@keyframes cloudy {
    to {
        transform: translate3d(-10%,0,0)
    }
}

.four_section {
    height: 100%;
    width: 100%;
    background: #A01E72;
}

#hand {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 60%;
    width: 22%;
    z-index: 3;
}

#heart-1 {
    position: absolute;
    top: 9%;
    bottom: 0;
    left: 54%;
    right: 0;
    margin: auto;
    height: 60%;
    width: 5%;
    z-index: 2;
    animation-name: hearter;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    /*transform: rotate(0deg);*/
}

@keyframes hearter {
    0% {
        opacity: 0%;
    }
    6% {
        opacity: 100%;
        transform: rotate(0deg) translate3d(0px,0px,0px);
    }
    50% {
        transform: rotate(0deg) translate3d(0px,0px,0px)
    }
}

/*PAGINATION*/

.onepage-pagination li a {
    padding: 10.5px !important;
}

.onepage-pagination li a:before {
    background: rgba(255, 255, 255, 0.85) !important;
}

.onepage-pagination li a.active:before {
    border: 1px solid white !important;
}
